<section id="registrationPage">
  <div class="container p-5">
    <div class="row mt-5">
      <div class="col-lg-4 offset-lg-4">
        <app-message></app-message>
        <div class="card bg-light">
          <div class="card-body">
            <h4 class="text-center">you phone </h4>
            <hr>
            <form>
              <div class="form-group">
                <label class="form-control-label">phone number</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="name">
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
